h1{
    font-size: 63px;
    color: #ffffff;
}

h2{
    font-size: 37px;
    color: #303030;
    font-weight: 600;
}

.carousel-caption h5 {
    font-size: 80px;
    color: #ffc107;
    text-shadow: 2px 2px 2px black;
}